.visualizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.visualizer-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 1px;
  margin: auto;
  justify-content: center;
  align-items: center;
  max-height: 1570px;
}

.node {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #e91e63;
  transition: background-color 0.3s ease;
}

.node-start {
  background-color: #ffc7c7;
}

.node-end {
  background-color: #000000;
}

.node-wall {
  background-color: #e91e63;
}

.node-visited {
  background-color: #f8bbd0;
}

.node-shortest-path {
  background-color: #f06292;
}
